<app-header></app-header>
<h1 class="text-center">Sadaat Collection</h1>

<div class="about-container">

    <h2>About Us</h2>
    <p>Welcome to our Sadaat Collection, where tradition meets style!</p>
    <p>At our store, we are passionate about providing you with the finest Sherwanis that blend traditional craftsmanship with modern designs. Each Sherwani in our collection is a masterpiece, carefully crafted to make you look and feel special on your big day.</p>
    <p>Our commitment is to offer high-quality Sherwanis that reflect the rich heritage of Indian clothing while ensuring comfort and style. Whether it's for your wedding day or any special occasion, we have the perfect Sherwani for you.</p>
    <p>Thank you for choosing us for your special moments!</p>
    <div class="image">
        <img src="https://i.pinimg.com/originals/22/e8/6f/22e86f3a42c6749c8c0211ec41c25d7d.jpg" alt="">
    </div>
  </div>
  <app-footer></app-footer>
  